body {
  background-image: url('https://images.unsplash.com/photo-1525875098832-46c7d9d0794e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Joan', serif;
}

.App {
  background-color:  rgba(255, 255, 255, 0.5);
  max-width: 60%;
  
}

.container {
  display: flex;
  justify-content: center;

}

.up {
  margin-top: 50px;
}

.btn {
  margin-bottom: 70px;
}

.header {
   color: #2A2550;
   padding: 0px 15px ;
}

.action {
  color: #630606;
  border-bottom: 2px solid #2A2550;
  padding: 5px 10px;
  font-size: 25px;
}

.btn__tip {
  background-color: #2A2550;
  color: #fff;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}